body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./assets/img10.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*Create the card container*/
.birthdayCard {
  position: relative;
  border-radius: 20px;
  width: 260px;
  height: 450px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 4s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.15),
    0 10px 100px rgba(0, 0, 0, 0.3);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .front-text {
  display: none;
}

/*pode remover se quiser deixar o desenho*/
.birthdayCard:hover .wrap-deco {
  display: none;
}
/**********/

.birthdayCard:hover .wrap-decoTwo {
  display: none;
}

/*pode remover se quiser deixar o bolo*/
.birthdayCard:hover .plate {
  display: none;
}
/**********/

/*Style the front of the card*/
.cardFront {
  position: relative;
  border-radius: 20px;
  /*background-image: url(./assets/img5.png);*/
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;

  width: 260px;
  height: 450px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
    30px 0 50px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.img8 {
  position: relative;
  left: 15%;
  top: 2px;
}

.img9 {
  position: relative;
  width: 250px;
  height: 448px;
  top: -145px;
  right: -5px;
  z-index: 2;
  opacity: 0.9;
}

.happy {
  position: relative;
  font-family: cursive;
  text-align: center;
  backface-visibility: hidden;
  font-size: 28px;
  top: -450px;
  left: -20px;
  color: rgb(13, 138, 13);
  border-radius: 20px;
}

.bday {
  position: relative;
  font-family: arial;
  color: rgb(65, 91, 65);
  text-align: center;
  top: -433px;
  left: -25px;
}

.toyou {
  font-family: cursive;
  backface-visibility: hidden;
  font-size: 15px;
  color: rgb(61, 93, 61);
  top: 241px;
  margin-left: -8px;
  position: absolute;
}

.cabecalho {
  width: 100%;
  float: left;
}

.front-text div {
  display: block;
}

.happy {
  font-weight: 700;
  letter-spacing: 0px;
  background-color: rgb(255, 255, 255);

  margin-left: 28px;
  margin-right: 33px;
  position: relative;
  animation: motion 4s 1;
  z-index: 1;
}

.bday {
  font-size: 0.8em;
  color: #868686;
  letter-spacing: 0px;
  transition: 2s;
}

@keyframes motion {
  0% {
    color: #fcf9f9;
    margin-bottom: -42px;
  }
  30% {
    letter-spacing: 0px;
    margin-bottom: -42px;
  }
  85% {
    letter-spacing: 0px;
    margin-bottom: -42px;
  }
}

.happy1 {
  position: relative;
  text-align: center;
  top: 100px;
  font-size: 10%;
  color: rgb(13, 138, 13);
  text-shadow: 7px 7px 7px gray;
}

.bday1 {
  position: relative;
  text-align: center;
  color: rgb(81, 158, 81);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  top: 60px;
}

.wrap-deco {
  position: absolute;
  top: -230px;
  left: -200px;
}

.decorations {
  position: absolute;
  width: 400px;
  height: 300px;
  border: 3px solid #333;
  border-radius: 50%;
}

.decorations:before,
.decorations:after,
.decorationsTwo:before,
.decorationsTwo:after,
.decorationsThree:before,
.decorationsThree:after {
  content: "";
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 0;
  height: 0;
}

.decorations:before {
  border-top: 40px solid #f15bb5;
  top: 297px;
  left: 210px;
  transform: rotate(-5deg);
}

.decorations:after {
  border-top: 40px solid #f4d35e;
  top: 288px;
  left: 260px;
  transform: rotate(-17deg);
}

.decorationsTwo:before {
  border-top: 40px solid #00f5d4;
  top: 268px;
  left: 315px;
  transform: rotate(-30deg);
}

.decorationsTwo:after,
.decorationsThree:after {
  border-top: 40px solid #9b5de5;
  top: 238px;
  left: 355px;
  transform: rotate(-40deg);
}

.wrap-decoTwo {
  transform: scaleX(-1);
  position: absolute;
  top: -230px;
  left: 445px;
}

.decorationsThree:before {
  border-top: 40px solid #00bbf9;
  top: 268px;
  left: 315px;
  transform: rotate(-30deg);
}

.plate {
  position: absolute;
  width: 130px;
  height: 5px;
  background-color: #00bbf9;
  left: 60px;
  top: 213px;
}

.cake {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 50px;
  background-color: #f15bb5;
  border-radius: 10px 10px 0 0;
  top: -50px;
  left: 15px;
  box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
}

.cake:before {
  content: "";
  position: absolute;
  background-color: #432818;
  width: 10px;
  height: 20px;
  top: 5px;
  border-radius: 20px;
  box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5,
    40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5,
    80px 5px #432818, 90px 5px #f15bb5;
}

.plate:before {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(
    -45deg,
    #9b5de5,
    #9b5de5 3px,
    #00f5d4 3px,
    #00f5d4 6px
  );
  width: 7px;
  height: 25px;
  top: -75px;
  left: 61px;
}

.plate:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #333;
  top: -80px;
  left: 64px;
}

.flame {
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width: 15px;
  height: 15px;
  opacity: 0.7;
  top: -93px;
  left: 57px;
}

/*Style the inside part of the card*/
.cardInside {
  position: absolute;
  border-radius: 20px;
  background-image: url(./assets/img6.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 260px;
  height: 450px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.inside-text {
  position: relative;
  top: -160px;
  transform: scale(0.7);
}

.wishes {
  position: relative;
  top: -260px;
  margin: 25px;
}

p {
  font-family: "Brush Script MT";
  color: #333;
}

.name {
  position: relative;
  text-align: center;
  color: rgb(34, 136, 34);
}

.link {
  position: relative;
  left: 210px;
  top: -15px;
  font-size: 28px;
  color: green;
}

span,
a {
  color: green;
}

.img4 {
  position: relative;
  width: 40px;
  height: 55px;
  top: 26px;
  left: 185px;
  opacity: 0.4;
  transform: rotate(-25deg);
}

footer {
  position: fixed;
  top: 420px;
  left: 158px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  opacity: 0.5;
}

.img7 {
  position: relative;
  border-radius: 5px;
  height: 65px;
  width: 45px;
  left: 170px;
  top: -40px;
}
h6 {
  position: relative;
  text-align: right;
  color: gray;
  top: -65px;
  text-shadow: 0 0 0.2em #8f7;
}

.logo-instagram {
  position: relative;
  top: -110px;
  left: 195px;
  font-size: 20px;
  color: green;
}

.siga-me {
  color: #042e1785;
  margin-right: 20px;
  font-size: 12px;
  opacity: 0.8;
}
